<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KillTheDuck.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>808840F81C9BF1A00012972A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8088410E1C9BF1A00012972A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>808841191C9BF1A00012972A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
